


/**
 * GENERAL STYLES
 **/
body {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Oxygen', sans-serif !important;
}
.bg-img {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
}
#carousel {
    height: 1080px;
    margin: 0 auto;
    width: 1920px;
    position: absolute;
    top: 0;
    z-index: 99;
}
.item {
    max-height: 1080px;
    max-width: 1920px;
}

#lf-map {
    /*opacity: 0.5;*/
    position: absolute;
    height: 100%;
    width: 100%;
}

.hub-list-footer {
    display: none;
}

.feed-container {
    display: table;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.content-attachments-stacked {
    display: none;
}

.content .content-body a,
.content a {
    color: #c65918;
}
.content .content-author-avatar img {
    border-radius: 0px;
    height: 72px;
    width: 72px;
}
.hub-content-container .content.content-with-image .content-header .content-author-username,
.hub-content-container .content.content-with-image .content-header .content-author-name,
.hub-content-container .content.content-with-image .content-header .content-author-name a {
    text-shadow: none;
}
.hub-content-container .content .content-author-username,
.hub-content-container .content .content-author-username a,
.hub-content-container .content.content-with-image .content-author-username,
.hub-content-container .content.content-with-image .content-author-username a,
.hub-content-container .content.hub-content-image-loading .content-author-username,
.hub-content-container .content.hub-content-image-loading .content-author-username a {
    color: #313438;
    text-shadow: none;
}
.content .content-byline .content-author-name,
.content .content-byline .content-author-name a {
    font-weight: normal;
    font-family: 'Oxygen', sans-serif;
}
.content .content-body {
    color: #313438;
    font-family: 'Oxygen', sans-serif !important;
    font-weight: 300;
}
.content .content-created-at {
    color: #313438;
    font-size: 25px;
    display: none;
}
.content .content-created-at a:link{
    color: #313438;
}

/**
 * FEED VIEW
 **/
#feed1,
#feed2 {
    display: table-cell;
    vertical-align: middle;
    text-align: left
}
#feed1 .hub-content-container article,
#feed2 .hub-content-container article {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    display: none;
    margin: auto;
    width: 60%;
    position: relative;
    top: 0px;
}
#feed1 .content .content-header .content-header-inner,
#feed2 .content .content-header .content-header-inner {
    padding: 0px;
}
#feed1 .content .content-author-avatar,
#feed2 .content .content-author-avatar {
    margin: 0px 35px 0px 0px;
}
#feed1 .content .content-byline,
#feed2 .content .content-byline {
    line-height: normal;
}
#feed1 .content .content-byline .content-author-name,
#feed1 .content .content-byline .content-author-name a,
#feed2 .content .content-byline .content-author-name,
#feed2 .content .content-byline .content-author-name a {
    font-size: 42px;
    line-height: 42px;
}
#feed1 .content .content-author-username,
#feed2 .content .content-author-username {
    font-size: 18px;
    font-weight: 600;
    color: #999999 !important;
    position: relative;
    top: 10px;
    
}
#feed1 .content .content-body,
#feed2 .content .content-body {
    font-size: 68px;
    line-height: 84px;
    margin: 40px 0px 40px 100px;
}
#feed1 .content .content-created-at,
#feed2 .content .content-created-at {
    margin: 0px 0 0 100px;
}

/*#feed1 .content .content-created-at:before,
#feed2 .content .content-created-at:before {
    content:"";
    background: no-repeat left top url('../imgs/twitterbird.png');
    height: 24px;
    width: 35px;
    display: inline-block;
    position: relative;
    top: 3px;
}*/

#feed1 .content-with-image .content-created-at,
#feed2 .content-with-image .content-created-at {
    margin: 16px 0 0 75px;
}
#feed1 .content .content-actions,
#feed2 .content .content-actions {
    margin: 0px -18px 0px 0px;
    display: none;
}
#feed1 .content.content-tweet .content-source-logo,
#feed1 .content-with-image.content-tweet .content-source-logo,
#feed1 .hub-content-image-loading .content-source-logo,
#feed2 .content.content-tweet .content-source-logo,
#feed2 .content-with-image.content-tweet .content-source-logo,
#feed2 .hub-content-image-loading .content-source-logo {
    background: no-repeat left top url(../imgs/twitterbird.png);
    height: 39px;
    margin-top: 12px;
    width: 52px;
}

/* Cards with images specific */
#feed1 .hub-content-container article.content-with-image,
#feed1 .hub-content-container article.hub-content-image-loading,
#feed2 .hub-content-container article.content-with-image,
#feed2 .hub-content-container article.hub-content-image-loading {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    margin: auto;
    width: 100%;
}

.content-body{
	
	font-family: ;
}


#feed1 .content-with-image .content-header,
#feed1 .content-with-image .content-body,
#feed1 .content-with-image .content-meta,
#feed1 .hub-content-image-loading .content-header,
#feed1 .hub-content-image-loading .content-body,
#feed1 .hub-content-image-loading .content-meta,
#feed2 .content-with-image .content-header,
#feed2 .content-with-image .content-body,
#feed2 .content-with-image .content-meta,
#feed2 .hub-content-image-loading .content-header,
#feed2 .hub-content-image-loading .content-body,
#feed2 .hub-content-image-loading .content-meta {
    width: 1115px;
    margin-left: 35px;
}

#feed1 .content-with-image .content-header,
#feed1 .hub-content-image-loading .content-header,
#feed2 .content-with-image .content-header,
#feed2 .hub-content-image-loading .content-header {
    background: none;
    box-shadow: none;
    border: none;
    position: relative;
    top: 200px;
    left: 32%;
    
}

.content.content-with-image .content-attachment .content-attachment-frame {
    box-shadow: none !important;
}
.content.content-with-image .content-attachment .content-attachment-photo {
    border-radius: none;
}

#feed1 .content-with-image .content-attachments,
#feed1 .hub-content-image-loading .content-attachments,
#feed2 .content-with-image .content-attachments,
#feed2 .hub-content-image-loading .content-attachments {
    display: inline-block;
    width: 600px;
    position: relative;
    left: -145px;
}
#feed1 .content-with-image .content-body,
#feed1 .hub-content-image-loading .content-body,
#feed2 .content-with-image .content-body,
#feed2 .hub-content-image-loading .content-body {
    display: inline-block;
    margin: 260px 0px 0px -100px;
    vertical-align: top;
    width: 1100px;
    font-size: 72px;
    line-height: 84px;
}
#feed1 .content-with-image .content-actions,
#feed1 .hub-content-image-loading .content-actions,
#feed2 .content-with-image .content-actions,
#feed2 .hub-content-image-loading .content-actions {
    margin: -45px 16px 0px 0px;
}
#feed1 .content-with-image .content-meta,
#feed1 .hub-content-image-loading .content-meta,
#feed2 .content-with-image .content-meta,
#feed2 .hub-content-image-loading .content-meta {
    margin: -60px 0px 0px 635px;
    display: none;
}

#feed1 .content .content-byline .content-author-name a,
#feed2 .content .content-byline .content-author-name a,
#feed1 .content .content-byline .content-author-name{
    color: #c65918 !important;
    position: relative;
    top: 6px;
}

.content.content-with-image .content-header .content-author-avatar img {
    box-shadow: none !important;
    border-radius: none !important;
}

/**
 * SLATES
 **/
.slate {
    color: #333333;
    display: table;
    height: 1080px;
    width: 100%;
    text-align: center;
}
#text{
	height: 0px;
}
.slate-content {
    display: table-cell;
    vertical-align: middle;
}
.slate .static {
    font-size: 96px;
    font-weight: normal;
    line-height: 96px;
}
.slate .static span {
    font-weight: bold;
}


.poweredby{
	position: absolute;
}

.content.content-with-image.content-instagram .content-source-logo{
	background-position: -46px 0;
}

#stage{
	width: 1920px;
	height: 1080px;
	position: relative;
	left: -3px;
}
